%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby Online
      %h3 Lesson 12: Classes

%section
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/Ov1XgVWUVF0", frameborder: 0, allowfullscreen: true}
  .container
    .centered-row
    .centered-row
      %dl
        %dt LEARNING OUTCOMES
        %dd Understand that classes group related code
        %dd Be able to define a class in Ruby
        %dd Recognise what a <b>contant</b> is in Ruby
        %dd Describe the relationship between a class and an object
        %dd Know how to instantiate a class
        %dd Recall what an object looks like in the REPL
    .centered-row
      %dl
        %dt EXERCISES
        %dd 1. Fire up the REPL
        %dd 2. Define a <code class="language-ruby">class</code>
        %dd 3. Instantiate that <code class="language-ruby">class</code>
        %dd 4. Do this 3 or 4 times
    .centered-row
      .button-row
        %p= link_to "Next lesson", "/pps-prep/variables", class: "button button--horizontal"
    .centered-row
      .button-row
        %p= link_to "Previous lesson", "/pps-prep/dot-notation", class: "button button--horizontal"

%section.hero-splash{style: "background-image: url(#{image_path("backgroundsphoto-wall.jpg")});"}
  .container
    .centered-row
      %h3 Video transcription
      %p Needs transcribing
