%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby Online
      %h3 Lesson 1: Introduction

%section
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/qj_qnUGrLLM", frameborder: 0, allowfullscreen: true}
  .container
    .centered-row
    .centered-row
      %dl
        %dt LEARNING OUTCOMES
        %dd Get inspired to learn Object-Oriented Programming
    .centered-row
      %dl
        %dt EXERCISES
        %dd 1. Get ready to learn
    .centered-row
      .button-row
        %p= link_to "Next lesson", "/pps-prep/objects-part-1", class: "button button--horizontal"

%section.hero-splash{style: "background-image: url(#{image_path("backgroundsphoto-wall.jpg")});"}
  .container
    %h3 Video transcription
    %p What is an object? In everyday life, an object is something you can touch and that serves some sort of purpose for example, a spanner, a gate or a camera. Many of these objects are made up of other, smaller objects. For example a camera is made up of a lens, a shutter and film. All of these objects work together to achieve a goal. Object oriented programming is a style of programming where we imitate the way real life objects and systems work together by making software objects as representations.
    %p As in real life, multiple smaller objects can work together to make a larger, more useful object. This course is about how those objects are created, how they can do things and how they can know things. This course is for beginners to programming and will be using the popular programming language - Ruby, which is free, easy to use, beginner friendly and has lots of real software projects built with it. So get ready to learn about object oriented programming, in Ruby, with Makers Academy.
