%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby Online
      %h3 Lesson 14: Methods

%section
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/ta-oRNyt8Hs", frameborder: 0, allowfullscreen: true}
  .container
    .centered-row
    .centered-row
      %dl
        %dt LEARNING OUTCOMES
        %dd Understand what a method is
        %dd Be comfortable explaining how to use a method
        %dd Know how to define a method in Ruby
        %dd Recognise that methods have return values
        %dd Have the ability to identify a return value in the REPL
        %dd Be able to create a method that returns the value stored inside a variable
    .centered-row
      %dl
        %dt EXERCISES
        %dd 1. Create a method
    .centered-row
      .button-row
        %p= link_to "Next lesson", "/pps-prep/scope", class: "button button--horizontal"
    .centered-row
      .button-row
        %p= link_to "Previous lesson", "/pps-prep/variables", class: "button button--horizontal"

%section.hero-splash{style: "background-image: url(#{image_path("backgroundsphoto-wall.jpg")});"}
  .container
    .centered-row
      %h3 Video transcription
      %p Needs transcribing
