%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-overhead-discussion.jpg")});"}
  .container
    .centered-row
      %h1 Learn Ruby Online
      %h3 Lesson 13: Variables

%section
  .container
    .video-row
      .video-wrapper
        %iframe{src: "https://www.youtube.com/embed/BHPPoW6McbM", frameborder: 0, allowfullscreen: true}
  .container
    .centered-row
    .centered-row
      %dl
        %dt LEARNING OUTCOMES
        %dd Understand what a variable is
        %dd Explain what the assignment operator does
        %dd How to define a variable in Ruby
        %dd Recognise that a new value will overwrite the contents of your variable
        %dd Be able to retrieve a value by calling the variable you stored it in
    .centered-row
      %dl
        %dt EXERCISES
        %dd 1. Create a variable
        %dd 2. Assign a value to that variable
        %dd 3. Retrieve that value by calling the variable's name (in the computer - not verbally)
        %dd 4. Assign another value to the same variable
        %dd 5. Hypothesize about what you will see now when you call the variable again
        %dd 6. Repeat
    .centered-row
      .button-row
        %p= link_to "Next lesson", "/pps-prep/methods", class: "button button--horizontal"
    .centered-row
      .button-row
        %p= link_to "Previous lesson", "/pps-prep/classes", class: "button button--horizontal"

%section.hero-splash{style: "background-image: url(#{image_path("backgroundsphoto-wall.jpg")});"}
  .container
    .centered-row
      %h3 Video transcription
      %p Needs transcribing
