%section.article.article--centered.no-min-height.no-padding-bottom
  %article
    %h3 Quick ways to partner with us!
    %p This is a table goes into all the different ways you can work with us

%section.no-padding-top
  .container
    .centered-row
      %table.responsive-table
        %thead
          %tr
            %th Activity
            %th What's needed from you?
            %th Cost
        %tbody
          %tr
            %td{data:{header: "Activity"}} Social Sharing: One of the easiest ways to work with Makers Academy is by simply sending us something you want us to share across our social media channels
            %td{data:{header: "What's needed from you?"}} An image and copy for a Twitter and Facebook Post.
            %td{data:{header: "Cost"}}
              %p We only ask that you do the same! For guidance on what we would like you to share, please ask.
          %tr
            %td{data:{header: "Activity"}} Blog Content Swap. The Makers Academy blog on Medium is full of great content and we love to have guest bloggers. If you have interesting content around Education, Diversity, Coding or Recruitment we’d love to add it to our publication and share with our community.
            %td{data:{header: "What's needed from you?"}} 500 Word Blog Post submitted via Medium so we can easily credit you and add it to our publication. Please ensure you submit to your publication while the post is in draft form - it’s essential that this is done before publication, otherwise it will not be possible for us to share your post with our community
            %td{data:{header: "Cost"}}
              %p Maybe we could write a post for your blog in return? We’re happy to discuss topics and work out something that would be valuable to your community
          %tr
            %td{data:{header: "Activity"}} Newsletter share. Are you hosting an interesting event that you think will be beneficial to our community? Then please send us the details and we’d be happy to share to our mailing list of over 8000 people.
            %td{data:{header: "What's needed from you?"}} A banner, 100 Words to describe the event, All necessary links to find out more, book tickets etc
            %td{data:{header: "Cost"}}
              %p Cost: We only ask that you do the same! For guidance on what we would like you to share, please ask.

          %tr
            %td{data:{header: "Time"}} 1.00pm
            %td{data:{header: "Activity"}} Lunch
            %td{data:{header: "Description"}}
              %p Our cohorts tend to lunch together. Generally they like to go out in droves to one of Shoreditch’s fine local eateries and there's often a lunchtime talk from one of the many CTOs that our hiring team speak to!
          %tr
            %td{data:{header: "Time"}} 2.00pm
            %td{data:{header: "Activity"}} Meditation
            %td{data:{header: "Description"}}
              %p Programming is extremely challenging. Meditation helps keep a lid on things, keeps you grounded, and keeps your brain sharp.
          %tr
            %td{data:{header: "Time"}} 2.30pm
            %td{data:{header: "Activity"}} Pair Programming
            %td{data:{header: "Description"}}
              %p The afternoon is spent pair programming, as students work through the challenges or projects provided in the curriculum.
          %tr
            %td{data:{header: "Time"}} 7.00pm
            %td{data:{header: "Activity"}} Socialising
            %td{data:{header: "Description"}}
              %p A pecha kucha night, a trip to a software craftsmanship meetup at Yammer, a hosted event, or a film night...we love to organise stuff to keep your social bar topped up. If you're a remote student why not game together online? Or even meet up if you're near each other.
    .button-row.small-padding-top
      %p
        = link_to "Read more about our Coaching style", "https://blog.makersacademy.com/its-teacher-time-f7a65b7ccbe3#.cxixujx1i", target: "_blank", class: "button button--horizontal"
