- description "Makers Academy is London's leading Web Developer Bootcamp. Learn to code in 12 Weeks by enrolling on one of our programming / web development courses! Learn Ruby, JavaScript and the best software practices."
%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/dan-and-students-overhead-70.jpg")});"}
  .container
    .centered-row
      %h1 Learn to code in 12 weeks
      %p.margin-bottom Makers Academy is Europe's leading Web Developer bootcamp. We teach people to learn to code and help companies hire amazing talent. We’re keen to work with anyone that supports that dual mission.

%section
  .article--centered
    %article
      %h3 Why switch to a career as a developer?
    %p
      Not satisfied with your job? Want to go to work and love what you do, day in day out? It’s time for a career change, and coding could be exactly what you’re looking for.
    %p
      At Makers Academy, we’ve helped everybody from stay-at-home parents and recruiters to scientists and lawyers make their first step towards a career they’re passionate about, in jobs with huge growth opportunities.
    %p
      The technology sector has been growing rapidly for years, and has been largely unaffected by the recession. With demand for developers growing 20% year-on- year, and supply of developers (mainly graduates of computer science degrees) flat lining at 1%, the demand for developers is growing rapidly. In short - the tech industry needs you!
    %p
      Be in full control of your career and have creative freedom. Technology companies are notoriously known to have fun, playful offices and a relaxed, friendly working culture. On top of that, working in web development brings a wealth of opportunities to grow, learn and enjoy your work again. What are you waiting for?

= partial :"full_graduates", locals: { category: "career changer" }

= partial :"_partnerships"


/ Analytics event for visiting homepage
:javascript
  analytics.track('Viewed homepage', {
  nonInteraction: 1});
